<div class="login-container">
  <h2>SightCall Appointment Service</h2>
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" id="login" [(ngModel)]="login" name="login" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" (click)="onGitHubLogin()" class="btn btn-secondary">Login with GitHub</button>
  </form>
</div>
