<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>
  <div class="container">
    <div class="left-panel">
      <div class="appointment-handler-container">
        <h3>Create/Update Appointment</h3>
        <div class="form-container">
          <form [formGroup]="appointmentForm" (ngSubmit)="createOrUpdateAppointment()" class="custom-form">
            <div class="form-group">
              <mat-label for="guestName">Guest email</mat-label>
              <input type="text" id="guestName" formControlName="guestName" class="form-control"/>
              <div *ngIf="appointmentForm.get('guestName')?.invalid && appointmentForm.get('guestName')?.touched">
                <small class="text-danger">Guest email is required.</small>
              </div>
            </div>
            <div class="form-group">
              <mat-label>Choose a date</mat-label>
              <input type="date" formControlName="date" min="{{ minDate | date: 'yyyy-MM-dd' }}"
                     (change)="onDateChange()" class="form-control"/>
              <div *ngIf="appointmentForm.get('date')?.invalid && appointmentForm.get('date')?.touched">
                <small class="text-danger">Date is required.</small>
              </div>
            </div>
            <div class="time-picker-container">
              <mat-label>Select Time</mat-label>
              <mat-select formControlName="time" class="form-control">
                <mat-option *ngFor="let time of availableTimes" [value]="time">{{ time }}</mat-option>
              </mat-select>
              <div *ngIf="appointmentForm.get('time')?.invalid && appointmentForm.get('time')?.touched ">
                <small class="text-danger">time is required.</small>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" [disabled]="appointmentForm.invalid || appointmentForm.get('time')?.value == '' " class="btn btn-primary">Save</button>
              <button type="button" (click)="resetForm()" class="btn btn-secondary">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="right-panel">
      <div class="upcoming-appointments-container">
        <h3>Appointments</h3>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="guestName">
            <th mat-header-cell *matHeaderCellDef> Guest Name</th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.attributes['guest-display-name'] }}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.attributes['start-time'].split('T')[0] }}</td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time</th>
            <td mat-cell
                *matCellDef="let appointment"> {{ appointment.attributes['start-time'].split('T')[1].substring(0, 5) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="guestUrl">
            <th mat-header-cell *matHeaderCellDef> Waiting room link</th>
            <td mat-cell *matCellDef="let appointment">
              <a [href]="appointment.attributes['agent-default-url']" target="_blank">
                go to meeting
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let appointment" class="actions-cell">
              <button mat-button color="accent" (click)="selectAppointment(appointment)">Update</button>
              <button mat-button color="warn" (click)="deleteAppointment(appointment.id)">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
