body {
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  text-align: center;
  padding: 20px;
}

.dashboard-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.left-panel,
.right-panel {
  flex: 1;
  padding: 20px;
}

.left-panel {
  max-width: 325px;
}

.right-panel {
  max-width: 600px;
}

.appointment-handler-container,
.upcoming-appointments-container {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn:disabled {
  background-color: #6c757d;
  color: white;
  cursor: not-allowed;
}


.dateTimeGroup {
  display: flex;
  justify-content: space-between;
}

.time-picker-container {
  display: flex;
  gap: 10px;
  margin: 4px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.actions-cell {
  display: flex;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  padding: 8px;
  text-align: center;
}

td a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
