<div class="home-container">
  <h1>SightCall</h1>
  <p>Welcome {{ username }}</p>

  <h2>Your upcoming appointments</h2>

  <div class="custom-table">
    <table mat-table [dataSource]="guestAppointments" class="mat-elevation-z8">

      <ng-container matColumnDef="guestName">
        <th mat-header-cell *matHeaderCellDef> Guest Name </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.attributes['guest-display-name'] }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.attributes['start-time'].split('T')[0] }} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let appointment">
          {{ appointment.attributes['start-time'].split('T')[1].substring(0, 5) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="guestUrl">
        <th mat-header-cell *matHeaderCellDef> Waiting room link </th>
        <td mat-cell *matCellDef="let appointment">
          <a [href]="appointment.attributes['guest-default-url']" target="_blank">
            go to meeting
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let appointment; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
