.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.custom-table {
  width: 50%;
}


.home-container p {
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
}
